- set_meta_tags  title: 'コカコーラ自販機の設置なら一括見積もりの『自販機ねっと』'
- set_meta_tags  description: 'コカコーラ自販機の設置をご検討なら一括見積りサイトの『自販機ねっと』。60秒の簡単問い合わせで自販機各社の条件を一括比較できます。'
/#トップ
br
br
br
.back-image-index.back-image-top
  .row
    .col-sm-6
       = image_tag "cocacola.webp", class: "pc-image", alt:"自販機を設置するなら『自販機ねっと』。自販機ねっとなら、キリン自販機・アサヒ自販機・サントリー自販機・大塚自販機・コカコーラ自販機・ダイドー自販機・伊藤園自販機・ネオス自販機から最適な条件の自販機の設置を一元サポートします。"
       = image_tag "cocacola.webp", class: "mobile-image", alt:"自販機を設置するなら『自販機ねっと』。自販機ねっとなら、キリン自販機・アサヒ自販機・サントリー自販機・大塚自販機・コカコーラ自販機・ダイドー自販機・伊藤園自販機・ネオス自販機から最適な条件の自販機の設置を一元サポートします。"
    .col-sm-6
        h1
         .index-3
          | Coke ONで人気沸騰！
          br
          | コカコーラ自販機を
          br
          | お手軽・好条件で設置なら
         br
         p.push
          span
            | 『自販機ねっと』
        br
        =link_to '/estimates/new' do
         =image_tag 'each-click.webp', width: '100%', class: 'center', alt:"コカコーラの自販機の現地調査依頼ならこちらをクリック。簡単60秒で無料でコカコーラの設置条件を依頼出来ます。"

br
br
.row
   .col-sm-12.center
     h2.push
      span
       | コカコーラ自販機設置を
       br
       br
       | 好条件で楽々設置！
br

.row#anchor
   .col-sm-12.center
     h2.surprise
        | コカコーラ自販機について

.row
 .col-sm-5.center
  =image_tag 'cocacola-v.webp', width: '250px', alt:"コカコーラ自販機"
 .col-sm-6.center.right-text
  p.text コカコーラは1886年に創業された歴史あるドリンクメーカーです。コカコーラでは、社名にも名付けられた『コカコーラ』を人気商品として、ジンジャエール・コカコーラゼロ・スプライト・ファンタ等老若男女問わず幅広い層から支持を受ける人気No.1の自販機メーカーです。
 .col-sm-1

.row#anchor
   .col-sm-12.center
     h2.surprise
        | こんな方におすすめです！
br/
.top-wrapper
 p.center コカコーラ自販機は以下のようなユーザー様にご利用いただいております。
 /通常の場合との比較
 br/
 br/
 .row.center
   .col-sm-12
     =image_tag 'worries2.webp', class: 'center block-image',alt:"問い合わせから設置までスピーディーに済ませたい。自販機を設置したいが、各メーカーに問い合わせするのが手間だなと感じる。自販機の相見積もりを簡単に取得したい。過去に現地調査で落ちてしまって困っている。自販機を交換したいが、対応してくれる自販機メーカーを探して欲しい"

hr.line
br
br
br
.row
   .col-sm-12.center
     h2.push
      span
       | お任せ下さい！スムーズな
       br
       br
       | コカコーラ自販機設置をサポート！

br
br
hr.line
br
br
br
.row
  .col-sm-12.push
   span
     | \ カンタン60秒入力! /
   = link_to "/estimates/new" do
     =image_tag 'each-click.webp', width: '70%', class: 'center', alt:"コカコーラの自販機の現地調査依頼ならこちらをクリック。簡単60秒で無料でコカコーラの設置条件を依頼出来ます。"

br
br

.row
   .col-sm-12.center
     h2.surprise
        | 自販機を設置するメリット
br/
.top-wrapper
 p.center 自販機一括見積もりの『自販機ねっと』は、自販機の設置・交換を検討いただけるユーザー・企業様の設置をサポートします。ここでは自販機を設置するメリットをご紹介します。
 br
 .row.center
   .col-sm-4
     h3.head 半永続収入
     =image_tag 'image1.webp', width: '95%', class: 'center',alt:"コカコーラ自販機は売上が一定以上想定できる場合、ドリンク販売の手数料収入を得ることができ、半永続的な副収入が期待出来ます。"
     p.text コカコーラ自販機は売上が一定以上想定できる場合、ドリンク販売の手数料収入を得ることができ、半永続的な副収入が期待出来ます。
     br
   .col-sm-4
     h3.head メンテナンス不要
     =image_tag 'image2.webp', width: '95%', class: 'center',alt:"自販機ねっとのご案内するコカコーラ自販機はフルオペレーションのため、ゴミ交換やドリンク補充の手間はございません。"
     p.text 自販機ねっとのご案内するコカコーラ自販機はフルオペレーションのため、ゴミ交換やドリンク補充の手間はございません。
     br
   .col-sm-4
     h3.head 好きなドリンクを手軽に購入
     =image_tag 'image3.webp', width: '95%', class: 'center',alt:"あなたの好きなメーカーをチョイスできるので、好きなドリンクを手軽にいつでも購入することができます。"
     p.text あなたの好きなメーカーをチョイスできるので、好きなドリンクを手軽にいつでも購入することができます。
     br
 .row.center
   .col-sm-4
     h3.head 福利厚生に使える
     =image_tag 'image1-1.webp', width: '95%', class: 'center',alt:"コカコーラ自販機を設置するだけで、会社内で低価格でコカコーラ自販機をご利用いただくことが出来、福利厚生の一環としても貢献致します。"
     p.text コカコーラ自販機を設置するだけで、会社内で低価格でコカコーラ自販機をご利用いただくことが出来、福利厚生の一環としても貢献致します。
     br
   .col-sm-4
     h3.head 安心のフルオペレーション
     =image_tag 'image2-1.webp', width: '95%', class: 'center',alt:"自販機ねっとからご案内する自販機は全てがフルオペレーションのため、お釣りの管理から補充・故障の対応まで全てを代行します。"
     p.text 自販機ねっとからご案内する自販機は全てがフルオペレーションのため、お釣りの管理から補充・故障の対応まで全てを代行します。
     br
   .col-sm-4
     h3.head 集客スポットにも使える！
     =image_tag 'image3-1.webp', width: '95%', class: 'center',alt:"近年のコカコーラ自販機はデザインにも富んでおり、設置するだけでも人々の視線を集め、結果として店舗の集客効果が上がる事例もございます。"
     p.text 近年のコカコーラ自販機はデザインにも富んでおり、設置するだけでも人々の視線を集め、結果として店舗の集客効果が上がる事例もございます。
     br

br
br
hr.line
br
br
br
.row
  .col-sm-12.push
   span
     | \ カンタン60秒入力! /
   = link_to "/estimates/new" do
     =image_tag 'each-click.webp', width: '70%', class: 'center', alt:"コカコーラの自販機の現地調査依頼ならこちらをクリック。簡単60秒で無料でコカコーラの設置条件を依頼出来ます。"

br
br


.row
   .col-sm-12.center
     h2.surprise
        | コカコーラ自販機の魅力をご紹介
br/
.top-wrapper
 p.center コカコーラ自販機にはどんな魅力があるのでしょうか？ここではコカコーラ自販機の魅力についてお伝えします。
 br
 .row.center
   .col-sm-4
     h3.head 人気商品が盛りだくさん
     =image_tag 'coca-1.webp', width: '95%', class: 'center',alt:"コカコーラを中心としてジンジャエールや綾鷹・ジョージアとどの世代にも人気のドリンクが目白押し！"
     p.text コカコーラを中心としてジンジャエールや綾鷹・ジョージアとどの世代にも人気のドリンクが目白押し！
     br
   .col-sm-4
     h3.head 売上目線でもおすすめ
     =image_tag 'coca-2.webp', width: '95%', class: 'center',alt:"他のメーカーの自販機を設置するのと比較しても、コカコーラ自体が人気のため売上を確保しやすいメーカーです。"
     p.text 他のメーカーの自販機を設置するのと比較しても、コカコーラ自体が人気のため売上を確保しやすいメーカーです。
     br
   .col-sm-4
     h3.head 高いブランド力
     =image_tag 'coca-3.webp', width: '95%', class: 'center',alt:"コカコーラ社は各自販機メーカーの中でのブランド力が最も強く、周囲の注目を集めることができます。"
     p.text コカコーラ社は各自販機メーカーの中でのブランド力が最も強く、周囲の注目を集めることができます。
     br
 .row.center
   .col-sm-4
     h3.head Coke ONが使える
     =image_tag 'coca-4.webp', width: '95%', class: 'center',alt:"今やコカコーラの代名詞とも言えるコークオン。スマホアプリ連動で使えポイントも貯めることができます。"
     p.text 今やコカコーラの代名詞とも言えるコークオン。スマホアプリ連動で使えポイントも貯めることができます。
     br

br
br
hr.line
br
br
br
.row
  .col-sm-12.push
   span
     | \ カンタン60秒入力! /
   = link_to "/estimates/new" do
     =image_tag 'each-click.webp', width: '70%', class: 'center', alt:"コカコーラの自販機の現地調査依頼ならこちらをクリック。簡単60秒で無料でコカコーラの設置条件を依頼出来ます。"

br
br

.row
   .col-sm-12.center
     h2.surprise
        | Coke ON（コークオン）とは？
br/
.top-wrapper
 p.center 「コークオン」は、コカ・コーラ社が開発したデジタルアプリで、利用者がコカ・コーラ社製品を購入するたびにポイントを獲得し、それを特定の商品やサービスと交換することができるロイヤリティプログラムです。
 br
 .row.center
   .col-sm-4
     h3.head スタンプカード機能
     =image_tag 'coke-1.webp', width: '95%', class: 'center',alt:"コカコーラ自販機を購入するたびにポイントがたまり、それを特定の商品やサービスと交換することができます。"
     p.text コカコーラ自販機を購入するたびにポイントがたまり、それを特定の商品やサービスと交換することができます。
     br
   .col-sm-4
     h3.head 歩くだけでポイントが貯まる
     =image_tag 'coke-2.webp', width: '95%', class: 'center',alt:"ユーザーの購買履歴に基づき、パーソナライズされたおすすめ商品やキャンペーン情報が提供されます。"
     p.text ユーザーの購買履歴に基づき、パーソナライズされたおすすめ商品やキャンペーン情報が提供されます。
     br
   .col-sm-4
     h3.head ドリンクチケットに交換できる
     =image_tag 'coke-3.webp', width: '95%', class: 'center',alt:"アプリ上でスタンプを貯めることができ、15枚貯めると無料でドリンクと交換できるドリンクチケットがもらえます。"
     p.text アプリ上でスタンプを貯めることができ、15枚貯めると無料でドリンクと交換できるドリンクチケットがもらえます。
     br
 .row.center
   .col-sm-4
     h3.head スマホで簡単決済
     =image_tag 'coke-4.webp', width: '95%', class: 'center',alt:"コカコーラ自販機とスマホで連携することで、ドリンク購入時にスタンプがもらえます。購入は現金でもキャッシュレスでも対応可能です。"
     p.text コカコーラ自販機とスマホで連携することで、ドリンク購入時にスタンプがもらえます。購入は現金でもキャッシュレスでも対応可能です。
     br
   .col-sm-4
     h3.head 定額でお好きなドリンクが飲める
     =image_tag 'coke-5.webp', width: '95%', class: 'center',alt:"CokeONを使うと、コカコーラ自販機のドリンクを定額のサブスク形式で自由に購入することもできます。"
     p.text CokeONを使うと、コカコーラ自販機のドリンクを定額のサブスク形式で自由に購入することもできます。
     br
   .col-sm-4
     h3.head アプリダウンロードで簡単
     =image_tag 'coke-6.webp', width: '95%', class: 'center',alt:"CokeONウォーク機能で1週間の歩数目標を設定。目標達成でスタンプ獲得ができます。"
     p.text CokeONウォーク機能で1週間の歩数目標を設定。目標達成でスタンプ獲得ができます。
     br

.row#anchor
   .col-sm-12.center
     h2.surprise
        | コカコーラ自販機の人気商品

.top-wrapper
 p コカコーラは、日本を代表する飲料メーカーとして、代表格『コカコーラ』以外にも多数の人気商品を誇ります。コカコーラ自販機を設置することで、これらの商品を身近にいつでも購入することができます。

 .row.center
   .col-sm-4
     h3.head コカコーラ
     =image_tag 'cocacola1.webp', width: '200px', class: 'center', alt:"コカ・コーラは独特の甘さとカフェインの刺激が調和した味が魅力です。1886年の創業以来、認識力のある赤白のロゴ、そして特徴的なボトル形状が世界的に愛され、その刺激的な味わいが評価されています。"
     p.text コカ・コーラは独特の甘さとカフェインの刺激が調和した味が魅力です。1886年の創業以来、認識力のある赤白のロゴ、そして特徴的なボトル形状が世界的に愛され、その刺激的な味わいが評価されています。
     br
   .col-sm-4
     h3.head ファンタ
     =image_tag 'fanta.webp', width: '200px', class: 'center', alt:"ファンタは、芳醇なフルーツフレーバーの炭酸飲料です。若年層から絶大な支持を得ているだけでなく、多彩な限定フレーバー展開で常に注目を集めるドリンクです。"
     p.text ファンタは、芳醇なフルーツフレーバーの炭酸飲料です。若年層から絶大な支持を得ているだけでなく、多彩な限定フレーバー展開で常に注目を集めるドリンクです。
     br
   .col-sm-4
     h3.head 綾鷹
     =image_tag 'ayataka.webp', width: '200px', class: 'center', alt:"綾鷹は、厳選した上質な茶葉を心を込めて丹念に仕上げた本格的な緑茶であることを意味しています。京都宇治の老舗茶舗上林春松本店との協働による製品です。"
     p.text 綾鷹は、厳選した上質な茶葉を心を込めて丹念に仕上げた本格的な緑茶であることを意味しています。京都宇治の老舗茶舗上林春松本店との協働による製品です。
     br
 .row.center
   .col-sm-4
     h3.head ジンジャーエール
     =image_tag 'gingerale.webp', width: '200px', class: 'center', alt:"ジンジャエールは、ジンジャーの辛みと爽やかな炭酸が特徴的な飲料です。風味豊かなジンジャーがもたらす独特の刺激感が人気で、様々なカクテルの材料としても使われます。"
     p.text ジンジャエールは、ジンジャーの辛みと爽やかな炭酸が特徴的な飲料です。風味豊かなジンジャーがもたらす独特の刺激感が人気で、様々なカクテルの材料としても使われます。
     br
   .col-sm-4
     h3.head ミニッツメイドオレンジ
     =image_tag 'mmaid.webp', width: '200px', class: 'center', alt:"ミニッツメイドオレンジは、果汁100%のオレンジジュースです。新鮮なオレンジの味わいをそのままに、栄養価も高く、ビタミンCも豊富に含まれています。"
     p.text ミニッツメイドオレンジは、果汁100%のオレンジジュースです。新鮮なオレンジの味わいをそのままに、栄養価も高く、ビタミンCも豊富に含まれています。
     br/
   .col-sm-4
     h3.head ジョージア
     =image_tag 'georgia.webp', width: '200px', class: 'center', alt:"ジョージアは、ボトル缶コーヒーながら淹れたてのような香りが特徴でコーヒーオーナーやバリスタも一目置く質の高さが注目されています。"
     p.text ジョージアは、ボトル缶コーヒーながら淹れたてのような香りが特徴でコーヒーオーナーやバリスタも一目置く質の高さが注目されています。
     br

br
br
hr.line
br
br
br
.row
  .col-sm-12.push
   span
     | \ カンタン60秒入力! /
   = link_to "/estimates/new" do
     =image_tag 'each-click.webp', width: '70%', class: 'center', alt:"コカコーラの自販機の現地調査依頼ならこちらをクリック。簡単60秒で無料でコカコーラの設置条件を依頼出来ます。"

br
br

.row
   .col-sm-12.center
     h2.surprise
        | 自販機を設置するメリットは？

.top-wrapper
 p 『自販機ねっと』は、コカコーラの自販機の設置・交換を検討いただける法人様・個人事業主様・個人様の設置をお手軽にサポートします。ここでは自販機を設置するメリットをご紹介します。

 .row.center
   .col-sm-4
     h3.head 好きなドリンクを手軽に購入
     =image_tag 'image3.webp', width: '95%', class: 'center', alt: "あなたの好きなコカコーラのドリンクのコレクションを作れ、いつでも手軽に購入出来ます。"
     br
     p.text あなたの好きなコカコーラのドリンクのコレクションを作れ、いつでも手軽に購入出来ます。
   .col-sm-4
     h3.head 自販機設置で収入が得られる
     =image_tag 'image1.webp', width: '95%', class: 'center', alt: "コカコーラ自販機を設置することで、キャッシュバックやドリンクバックを受けられるかも？"
     p.text コカコーラ自販機を設置することで、キャッシュバックやドリンクバックを受けられるかも？
     br
     p.text
   .col-sm-4
     h3.head フルオペなのでメンテナンス不要
     =image_tag 'image2.webp', width: '95%', class: 'center', alt: "身近で自販機を利用出来ながら、管理や交換はコカコーラ社が定期的に行ってくれるので手間いらず！"
     br
     p.text 身近で自販機を利用出来ながら、管理や交換はコカコーラ社が定期的に行ってくれるので手間いらず！




hr.line
br
br
br

.row
  .col-sm-12.push
   span
     | \ カンタン60秒入力! /
   = link_to "#anchor" do
     =image_tag 'each-click.webp', width: '70%', class: 'center', alt:"コカコーラの自販機の現地調査依頼ならこちらをクリック。簡単60秒で無料でコカコーラの設置条件を依頼出来ます。"

br
br



.row
   .col-sm-12.center
     h2.surprise
        | ご利用から設置迄全て無料
br/
.top-wrapper
 p.center 自販機一括見積もりサイト『自販機ねっと』は、サイトのご利用から現地調査、設置・運搬まで全てが無料。お客様に一切の費用は発生しませんので、安心してご利用いただくことができます。
 br

 .row.center
   .col-sm-5
     =image_tag 'introduction.webp', width: '70%', class: 'center select-image',alt:"自販機ねっとをご利用いただく方にはご利用から設置まで全て無料でご利用いただけます。"
   .col-sm-7
    br/
    br/
    table.free.responsive-table
     col.col-1
     col.col-2
     tr
      th.company-cell サイト利用費
      td.responsive-cell 0円
     tr
      th.company-cell 現地調査費
      td.responsive-cell 0円
     tr
      th.company-cell 設置・搬入費
      td.responsive-cell 0円


br
hr.line
br
br
br

.row
  .col-sm-12.push
   span
     | \ カンタン60秒入力! /
   = link_to "/estimates/new" do
     =image_tag 'click3.webp', width: '70%', class: 'center', alt:"自販機の一括見積もり『自販機ねっと』をご利用ならこちらをクリック。簡単60秒で無料で自販機を一括比較見積もり"



.row
   .col-sm-12.center
     h2.surprise
        | コカコーラが設置できない場合

.top-wrapper
 p コカコーラが設置出来ない場合、ご依頼者様で別の自販機会社をご検討頂ける場合、『自販機ねっと』が全ての現地調査手配を行い、設置出来る自販機をご案内致します。尚、ご案内可能な自販機は以下となります。

.top-wrapper
 br
 .row.center
   .col-sm-4
     h3.head アサヒ自販機
     = link_to "/asahi", target: "_blank" do
       =image_tag 'asahi-v.webp', width: '150px', class: 'center', alt:"カルピスやウィルキンソン、三ツ谷サイダー等、歴史ある人気商品からエナジードリンクモンスターまで目白押しのアサヒ自販機"
     p.text カルピスやウィルキンソン、三ツ谷サイダー等、歴史ある人気商品からエナジードリンクモンスターまで目白押しのアサヒ自販機
     br
   .col-sm-4
     h3.head サントリー自販機
     = link_to "/suntory", target: "_blank" do
      =image_tag 'suntory-v.webp', width: '150px', class: 'center', alt:"伊右衛門栄門・BOSS・リプトン等、根強いファンの多い商品を取り揃える業界No.１のシェアを誇るサントリー自販機"
     p.text 伊右衛門栄門・BOSS・リプトン等、根強いファンの多い商品を取り揃える業界No.１のシェアを誇るサントリー自販機
     p
     br
   .col-sm-4
     h3.head コカコーラ自販機
     = link_to "/cocacola", target: "_blank" do
      =image_tag 'cocacola-v.webp', width: '150px', class: 'center', alt:"コカコーラ・ファンタ・ジンジャエールと老若男女を虜に！不動の人気No.1と言えばコカコーラ自販機"
     p.text コカコーラ・ファンタ・ジンジャエールと老若男女を虜に！不動の人気No.1と言えばコカコーラ自販機
     br
 .row.center
   .col-sm-4
     h3.head ネオス自販機
     =image_tag 'neos-v.webp', width: '150px', class: 'center', alt:"アサヒ・サントリー・ドトール・大塚・サンガリア等、多数メーカーをMIXでチョイスできるよりどりみどりのネオス自販機"
     p.text アサヒ・サントリー・ドトール・大塚・サンガリア等、多数メーカーをMIXでチョイスできるよりどりみどりのネオス自販機

     br
   .col-sm-4
     h3.head ダイドードリンコ自販機
     = link_to "/dydo", target: "_blank" do
      =image_tag 'dydo-v.webp', width: '150px', class: 'center', alt:"さらっと絞ったオレンジやメロンソーダ等、懐かしのアイテムが若年者から支持を集めるダイドードリンコ自販機"
     p.text さらっと絞ったオレンジやメロンソーダ等、懐かしのアイテムが若年者から支持を集めるダイドードリンコ自販機
     br
   .col-sm-4
     h3.head 伊藤園自販機
     = link_to "/itoen", target: "_blank" do
      =image_tag 'itoen-v.webp', width: '150px', class: 'center', alt:"お〜いお茶・健康ミネラルむぎ茶・黄金烏龍茶。女性や年配者に人気を博すお茶ブランドと言えば伊藤園自販機"
     p.text お〜いお茶・健康ミネラルむぎ茶・黄金烏龍茶。女性や年配者に人気を博すお茶ブランドと言えば伊藤園自販機
     br
 .row.center
   .col-sm-4
     h3.head キリン自販機
     = link_to "/kirin", target: "_blank" do
      =image_tag 'kirin-v.webp', width: '150px', class: 'center', alt:"現場職の方に圧倒的人気のFIREシリーズから歴史あるキリンレモンや午後の紅茶まで多彩なファンを持つキリン自販機"
     p.text 現場職の方に圧倒的人気のFIREシリーズから歴史あるキリンレモンや午後の紅茶まで多彩なファンを持つキリン自販機
     br
   .col-sm-4
     h3.head 大塚自販機
     = link_to "/otsuka", target: "_blank" do
      =image_tag 'otsuka-v.webp', width: '150px', class: 'center', alt:"健康第一！OS-1・ボディメンテ・オロナミンC・ポカリスウェットと身体を大切にするあなたに飲んで貰いたい大塚自販機"
     p.text 健康第一！OS-1・ボディメンテ・オロナミンC・ポカリスウェットと身体を大切にするあなたに飲んで貰いたい大塚自販機
     br
   .col-sm-4
     h3.head FVジャパン自販機
     =image_tag 'fvjapan-v.webp', width: '150px', class: 'center', alt:"コカコーラが提供するアサヒやサントリー・伊藤園等複数メーカーからお好きなドリンクをチョイスできるコカコーラが提供する人気のFVジャパン自販機"
     p.text コカコーラが提供するアサヒやサントリー・伊藤園等複数メーカーからお好きなドリンクをチョイスできる人気のMIX自販機
     br


.row
   .col-sm-12.center
     h2.surprise
        | カスタマーレビュー
br/
.top-wrapper
 p.center 自販機一括見積もりサイト『自販機ねっと』は、2023年サービス開始後、おかげさまでわずか半年間で500件を超えるご利用を頂いております。ここではご利用いただいたお客様の実際のレビューの一部をお届けします。
 br
 .row
  .col-sm-6 
   .box-design13
    h3.box-design13-ttl 【法人】製造業
    p 自販機ねっとを活用し、自販機の設置がとてもスムーズに進みました。問い合わせから設置まで全て無料でサポートしてくれるのは本当に助かりました。
  .col-sm-6 
   .box-design13
    h3.box-design13-ttl 【法人】歯科医
    p 新しくオープンした歯科医の駐車場に自販機を設置しました。電気工事を無料で行ってくれるところのみをピックアップしてくださり、とても助かりました。
 .row
  .col-sm-6 
   .box-design13
    h3.box-design13-ttl 【個人事業主】雑貨店
    p 過去に他メーカーの自販機で設置を断られ自販機ねっとを活用しました。売上想定が少ない場所に適した自販機メーカーを紹介いただき助かりました。
  .col-sm-6 
   .box-design13
    h3.box-design13-ttl 【個人事業主】病院
    p 院内に自販機を設置したかったのですが、病院であるため白色に限定して探しておりました。自販機ねっとさんに相談したところ、メーカーさんに白い自販機の提供を相談してくださり無事設置ができました。
 .row
  .col-sm-6 
   .box-design13
    h3.box-design13-ttl 【個人】私有地
    p 近隣に大学の通り道があり、3台の自販機を依頼しました。現地の立ち会いもなく、スムーズに自販機設置までサポートいただき助かりました。
  .col-sm-6 
   .box-design13
    h3.box-design13-ttl 【法人】建設業
    p 自販機の設置を考えていたところ、このサイトを見つけました。夏に向けて最短で設置ができ、スタッフの福利厚生にもつながりました。
 .row
  .col-sm-6 
   .box-design13
    h3.box-design13-ttl 【個人】ビルオーナー
    p 駅前通りの狭いスペースで設置をしたく自販機ねっとさんをご利用させていただきました。幅が100cm未満の自販機を紹介してくださり、売れ行きも良好です。
  .col-sm-6 
   .box-design13
    h3.box-design13-ttl 【法人】写真館
    p 既存の自販機会社から撤去を言い渡され、自販機ねっとに相談しました。売上本数が少なく他のメーカーさんで断られたにも関わらず、メーカーさんと交渉して頂き全店舗に設置することができました。


.row
   .col-sm-12.center
     h2.surprise
        | よくある質問
br
.top-wrapper
 p.center 自販機一括見積もりサイト『自販機ねっと』をご利用いただくにあたり、よくある質問を掲載しております。また当項目以外にご不明点がある場合、無料見積もりの備考にお問い合わせいただきましたら回答させていただきます。
 br
 br
 .cp_qa
    .cp_actab.left
      input#cp_tabfour028[type="checkbox" name="tabs"]
      label[for="cp_tabfour028"]
        h4 自販機を設置したいところに電源がない場合、自分で負担しなければいけないのでしょうか？
      .cp_actab-content
        p
          | 自販機を設置する場所に電源がない場合、電源を引っ張ってくる電気工事が必要となります。電気工事は近くにある電源を伸ばすのか、電柱から電源を引っ張ってくるのかにより対応も変わってきますが、多くのメーカーは電気工事費も負担してくれる場合が多いです。但し、『売上が見込むことができれば』の前提となるため、想定売上が低いとメーカーが判断する場合、お客様の実費で電気工事をお願いする場合もございます。
          br/
          = link_to "自販機の電気代はいくら？維持費を抑えて利益を残す方法", "/columns/vending-machine-electricity-cost", class:"btn btn-primary"
    .cp_actab.left
      input#cp_tabfour029[type="checkbox" name="tabs"]
      label[for="cp_tabfour029"]
        h4 お酒の自販機を設置したいけど提供してもらえますか？
      .cp_actab-content
        p
          | お酒の自販機を設置する場合、自販機をメーカーから貸し出すのではなく、自販機自体を購入し、ドリンク手配も自身で行う形となります。お酒を販売するには資格も必要となりますので、当社ではご案内対象外とさせて頂いております。
    .cp_actab.left
      input#cp_tabfour030[type="checkbox" name="tabs"]
      label[for="cp_tabfour030"]
        h4 設置まで費用がかからないって本当？
      .cp_actab-content
        p
          | はい。仰る通り当社ではお客様が自販機ねっとのご利用から見積もり・現地調査・設置まで一切の費用は頂いておりません。但し、希望する自販機の設置場所に電源がなく、メーカーが電気工事をお断りする場合、お客様自身で電気工事を手配いただく場合がございます。
          br/
          = link_to "自販機設置にかかる費用はいくら？初期費用・維持費完全解説", "/columns/vending-machine-costs", class:"btn btn-primary"
    .cp_actab.left
      input#cp_tabfour031[type="checkbox" name="tabs"]
      label[for="cp_tabfour031"]
        h4 自販機は月間何本以上売れれば設置ができるの？
      .cp_actab-content
        p
          | 自販機は過去に比較すると設置ハードルが上がっております。メーカーによりその基準は異なりますが、最低ラインとしておおよそ150本以上の売上が月間で見込める場合に設置が検討される形となります。
          br/
          = link_to "自販機オーナーの利益率は？売上・年収・収益構造を徹底解説", "/columns/vending-machine-profit-margin", class:"btn btn-primary"
    .cp_actab.left
      input#cp_tabfour032[type="checkbox" name="tabs"]
      label[for="cp_tabfour032"]
        h4 現場工事場所に設置をしたいが、何ヶ月以上工期が残っていれば設置ができる？
      .cp_actab-content
        p
          | 現場工事場所に自販機を設置したい場合、最低でも工期が10ヶ月以上残っていることが設置を行うための条件となります。これを下回る場合、現在設置可能なメーカーはございません。
    .cp_actab.left
      input#cp_tabfour033[type="checkbox" name="tabs"]
      label[for="cp_tabfour033"]
        h4 今ある自販機が売れ行き不振で撤去されてしまった。代替え自販機を置いてもらえますか？
      .cp_actab-content
        p
          | 売れ行き不振の場合、月の販売本数が100本を下回ってしまっている場合があります。月100本を下回っている場合、他のメーカーに打診しても設置できるメーカーはございません。但し、月100本以上売れている場合、メーカーによっては新しい自販機に入れ替えることで設置基準を満たす場合もありますので、一度お問い合わせください。
          br/
          = link_to "故障・売上低下を防ぐ｜自動販売機メンテナンス完全ガイド", "/columns/vending-machine-maintenance-guide", class:"btn btn-primary"
    .cp_actab.left
      input#cp_tabfour034[type="checkbox" name="tabs"]
      label[for="cp_tabfour034"]
        h4 お菓子の自販機を設置できますか？
      .cp_actab-content
        p
          | 当社ではお菓子の自販機は取り扱いはありません。但し、ダイドードリンコ自販機に限り、カロリーメイト系自販機をドリンク自販機と一緒に設置することが可能となります。
    .cp_actab.left
      input#cp_tabfour035[type="checkbox" name="tabs"]
      label[for="cp_tabfour035"]
        h4 電子マネー付きの自販機の設置はできますか？
      .cp_actab-content
        p
          | もちろん可能となります。但し、設置する自販機メーカーによっては売上がある程度見込める場合のみ提供可能となっております。各自販機メーカーにより基準が異なりますので、一度お問い合わせくださいませ。
          br/
          = link_to "副業で始める自販機ビジネス｜初心者でも収益化できる運営方法", "/columns/vending-machine-business", class:"btn btn-primary"
    .cp_actab.left
      input#cp_tabfour036[type="checkbox" name="tabs"]
      label[for="cp_tabfour036"]
        h4 自販機の電気代はいくらくらいでしょうか？
      .cp_actab-content
        p
          | 自販機の電気代は各メーカーの提供する自販機により大きく異なります。省エネタイプの自販機の場合、1500~2000円ほどとなり、それ以外の自販機の場合は3000円〜4000円となります。古い自販機を設置している場合、交換するだけでも電気代が安くなり、利益を見込める可能性が高くなります。
          br/
          = link_to "自販機の電気代はいくら？維持費を抑えて利益を残す方法", "/columns/vending-machine-electricity-cost", class:"btn btn-primary"
    .cp_actab.left
      input#cp_tabfour037[type="checkbox" name="tabs"]
      label[for="cp_tabfour037"]
        h4 狭いスペースでも自販機の設置は可能でしょうか？
      .cp_actab-content
        p
          | 自販機メーカー別に提供タイプは異なりますが、細型自販機やスリム型自販機を提供しているメーカーがございますので、設置可能となります。以下ページもご参考にされてください。
          br/
          = link_to "キャッシュレス対応自販機の導入方法｜売上アップを実現する最新戦略", "/columns/cashless-vending-machine-introduction", class:"btn btn-primary"


br
hr.line
br
br
br

.row
  .col-sm-12.push
   span
     | \ カンタン60秒入力! /
   = link_to "/estimates/new" do
     =image_tag 'click3.webp', width: '70%', class: 'center', alt:"自販機の一括見積もり『自販機ねっと』をご利用ならこちらをクリック。簡単60秒で無料で自販機を一括比較見積もり"

.row
  .col-sm-12.center
    h2.surprise
       | 設置までのカンタン4STEP
br/
.top-wrapper
 p.center 自販機一括見積もりサイト『自販機ねっと』をご利用頂くにあたり、ご利用から設置までの4STEPの流れを掲載しております。
 br


ul.flow.center
  li
    dl
      dt
        h4.span.icon
          | STEP.01
        | カンタン60秒見積もり入力
      dd.center
        | 下記の『まずは無料で一括見積もり』をクリックいただき、ご希望内容や希望の条件をカンタン入力！
        br/
        | もちろんコカコーラ自販機設置におけるお問い合わせには一切費用をいただきません。
  li
    dl
      dt
        h4.span.icon
          | STEP.02
        | コカコーラ現地調査開始
      dd.center
        | コカコーラ現地担当者に情報共有を行い、現地調査を開始させていただきます。
        br/
        | 現地調査は屋外の場合は立ち会いは不要で対応させていただき、
        br/
        | 屋内の場合にも最小限の対応でお客様にお手間は取らせません。
  li
    dl
      dt
        h4.span.icon
          | STEP.03
        | コカコーラの自販機を設置
      dd.center
        | コカコーラの設置条件をご案内致します。
        br/
        | 自販機設置のお見積もりが出るまでは1週間〜2週間ほど頂いております。
  li
    dl
      dt
        h4.span.icon
          | STEP.04
        | 内容決定後、設置完了
      dd.center
        | コカコーラのドリンクセレクションのチョイスと設置日調整に入ります。
        br
        | 自販機の設置搬入を行えば、当日よりコカコーラ自販機をご利用いただくことができます。


br
hr.line
br
br
br

.row
  .col-sm-12.push
   span
     | \ カンタン60秒入力! /
   = link_to "/estimates/new" do
     =image_tag 'click3.webp', width: '70%', class: 'center', alt:"自販機の一括見積もり『自販機ねっと』をご利用ならこちらをクリック。簡単60秒で無料で自販機を一括比較見積もり"

.row.tops-wrapper
  h3.headline お役立ち記事
  ul.sp-columns-seo__list
    - featured_columns_for(:top).each do |item|
      li = link_to item[:title], item[:path]
  p.sp-columns-seo__more.center
    = link_to "記事一覧を見る", "/columns", class: "btn btn-primary"

.row.tops-wrapper
  h3.headline 会社概要
  table.company.responsive-table
   col.col-1
   col.col-2
   tr
    th.company-cell サイト運営会社
    td.responsive-cell 合同会社ファクトル
   tr
    th.company-cell 代表者
    td.responsive-cell 奥山健太
   tr
    th.company-cell メールアドレス
    td.responsive-cell zihanki ＠ factoru.jp
   tr
    th.company-cell 郵便番号
    td.responsive-cell 863-0023
   tr
    th.company-cell 住所
    td.responsive-cell 熊本県天草市中央新町12-13
   tr
    th.company-cell サイトURL
    td.responsive-cell 
     = link_to "https://自販機.net/", "https://自販機.net/"
   tr 
    th.company-cell 提供可能自販機
    td.responsive-cell 
     | サントリー自販機・アサヒ自販機・キリン自販機
     br/
     | コカコーラ自販機・ダイドー自販機・大塚自販機
     br/
     | 伊藤園自販機・ネオス自販機・FVジャパン自販機