<main class="content-area">
  
  <div id="articles"></div>
  
</main>

<script src="https://drafity.pro/embed.js" data-api-key="8edbfaa19203d37cf17849ca5b0802f2134c53c0996c9eb65f180973fd62de04"></script>