.tops-wrapper
 h2.headline 新事業及びコーポレートページのご案内
 p 当社では2024年10月より清掃業・ドライバー業・警備業・建設業の人材枯渇業界に対して人材の供給を積極的に行うべく、業務請負サービスを開始致しました。下記ホームページより詳細をご確認頂けます。
 = link_to "株式会社OK Work 業務請負事業", "https://okey.work", class: "btn btn-primary", target: "_blank", rel: "noopener"
