- set_meta_tags noindex: true
br
br/
.tops-wrapper
br
  h2.headline  顧客一覧
.row
  table.company
    tr
      th 会社名
      th 担当者
      th 電話番号
      th 住所
      th 問い合わせ日
      th コカコーラ
      th 伊藤園
      th ダイドー
      th 朝日ビバレッジ
      th 購入検討
      th 送信
      th 中古
    - @estimates_for_view.each do |estimate|
      tr
        td = link_to estimate.co, estimate_path(estimate), class: "store"
        td = estimate.name
        td = estimate.tel
        td = estimate.address
        td = estimate.created_at.strftime("%Y年%m月%d日 %-H時%-M分%-S秒 %a")
        td = estimate.comment ? estimate.comment.cocacola : nil
        td = estimate.comment ? estimate.comment.itoen : nil
        td = estimate.comment ? estimate.comment.dydo : nil
        td = estimate.comment ? estimate.comment.yamakyu : nil
        td = estimate.attracting
        td
          = link_to "送信", "/estimates/#{estimate.id}/select_sent", style: "color: #fff", class: "btn btn-primary unsent"
        td
          - if estimate.document_viewed? && AccessLog.exists?(source: estimate.id.to_s, path: "/documents")
            | 閲覧済
          - elsif estimate.old_email_sent_at.present?
            | 送信済
          - elsif estimate.attracting == "yes"
            = link_to '中古', old_email_estimate_path(id: estimate.id), method: :post, data: { confirm: '送信しますか？' }, class: "btn btn-primary"
  br
    hr.line
    br
    = paginate(@estimates_for_view)

br/

br/
= search_form_for @q do |f|
 table.company[width="90%"]
            col[width="20%"]
            col[width="30%"]
            col[width="20%"]
            col[width="30%"]
            tbody
              tr
                th[colspan="4"]
                  | 検索
              tr
                th
                  | 会社名
                td
                  = f.search_field :co_cont, type: "text"
                th
                  | 担当者
                td
                  = f.search_field :name_cont, type: "text"
              tr
                th
                  | 電話番号
                td
                  = f.search_field :tel_cont, type: "text"
                th
                  | 住所
                td
                  = f.search_field :address_cont, type: "text"
              tr
                th 送信済み
                td
                    = f.select :old_email_sent_at_null, options_for_select([['指定なし', ''], ['送信済みのみ', 'false'], ['未送信のみ', 'true']]), include_blank: false
              tr
                td.center[colspan="4"]
                  = f.submit "検索する"



br/
br/
= form_with(url: import_estimates_path, method: :post, local: true, multipart: true) do |f|
  table.company[width="90%"]
    tbody
      tr
        th[colspan="3"]
          | ファイルインポート
      tr
        td
          = f.file_field :file
        th
          = submit_tag "インポート",  class: 'btn btn-primary'
        th
          = link_to 'エクスポート', estimates_path(format: :csv, page: params[:page]), class: 'btn btn-primary'


javascript: 
  function modalfadein(coname){
    $(function() {
     $('.unsent').click(function() {
        $('#selectingModal').fadeIn()
        console.log(coname)
        $('.dialogs').text('送信する企業を選択('+coname+')')
     })
    })
  }

  function modalout(){
    $(function() {
     $('.close').click(function() {
        $('#selectingModal').fadeOut()
     })
    });
  }

  function sent_mail(){
    console.log('clicked')

    var colors = []

    //すべてのチェック済みvalue値を取得する
  }